@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

html{
	height: 100%;
	margin: auto;
	width: 100%;
	overflow: auto;
}

header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: blue;
  font-size: 30px;
}

div {
	position: fixed;
  	top: 600px;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.buttons{
	position: absolute;
	top: 200px;
	width: 100%;
}

body{
	background-image: url("../pic/1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
  	background-size: 100% 100%;
  	transition: .5s ease;
}

h1 {
    -webkit-text-stroke: 1px black; /* width and color */
    font-family: 'Lobster', sans-serif;
    color: white;
    font-size: 80px;
    font-style: normal;
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
    text-align: center;
    transition: .5s ease;
}

a{
	-webkit-text-stroke: .5px white; /* width and color */
	font-family: 'Lobster', sans-serif;
	color: black;
	transition: .5s ease;
	font-size: 35px;
	color: blue;
}

p{
	-webkit-text-stroke: .5px white; /* width and color */
	font-family: 'Lobster', sans-serif;
	color: black;

	transition: .5s ease;
	font-size: 40px;
	text-align: center;
}

p.aboutMeText{
	position: absolute;
	text-align: center;
	width: 100%;
	height: 800px;
	top: 250px;
	left: 1%;
}

button{
	width: 8%;
	height: 50px * 100%;
	transition: .5s ease;
	background-color: transparent;
	border: none;

	-webkit-text-stroke: .5px white; /* width and color */
	font-family: 'Lobster', sans-serif;
	color: black;
	font-size: 80%;
}

.homeButton{
	position: absolute;
	left: 30%;
}

.homeButton:hover{
	background-color: #FF0000;
	border:3px solid #000000;
}

.aboutmeButton{
	position: absolute;
	left: 40%;
}

.aboutmeButton:hover{
	background-color: #FFA500;
	border:3px solid #000000;
}

.projectButton{
	position: absolute;
	left: 50%;
}

.projectButton:hover{
	background-color: #008000;
	border:3px solid #000000;
}

.contactButton{
	position: absolute;
	left: 60%;
}

.contactButton:hover{
	background-color: #0000FF;
	border:3px solid #000000;
}

.githubColumn{
	transition: .5s ease;
	position: absolute;
	top: 500px;
	left: 60%;
}

.linkedInColumn{
	transition: .5s ease;
	position: absolute;
	top: 500px;
	left: 68%;
}

.foxyPlatformColumn{
	transition: .5s ease;
	position: absolute;
	top: 400px;
	left: 31%;
}

.foxyPlatformText{
	transition: .5s ease;
	position: absolute;
	top: 350px;
	left: 70%;
}

.fpsColumn{
	transition: .5s ease;
	position: absolute;
	top: 750px;
	left: 38%;
}

.fpsText{
	transition: .5s ease;
	position: absolute;
	top: 700px;
	left: 70%;
}

.hashcodeColumn{
	transition: .5s ease;
	position: absolute;
	top: 1100px;
	left: 35%;
}

.hashcodeText{
	transition: .5s ease;
	position: absolute;
	top: 1050px;
	left: 70%;
}